[2017-04-05 15:18] shmkane opened #1 "MAGIC Text in lore"
This is a known issue that will be fixed in the next version of the plugin!

[2017-04-22 16:50] ghost opened #2 "Right Click Chest Issue!"
Getting this error message in console when ever a player right clicks a chest with the stick > https://hastebin.com/unureciyez.go

[2017-04-22 16:52] shmkane commented on #2
Are you running Factions on your server or no?

[2017-04-25 15:06] ghost commented on #2
Yes i am FactionsUUID v1.6.9.5-U0.1.20

[2017-05-17 15:36] shmkane commented on #2
Sorry for the delay, which version of the plugin are you using? Make sure you have the latest one. If you upgrade to the latest version and still find this issue, let me know

[2017-09-26 21:41] Neferux opened #3 "Renaming items issue"
when u rename an item u can use the sellstick to sell it infinitely

[2017-10-03 19:53] #2 closed, assigned to nobody

[2017-10-04 02:25] shmkane commented on #3
Fixed.

[2017-10-04 02:25] #3 closed, assigned to nobody

[2017-10-04 02:25] #1 closed, assigned to nobody

[2018-01-01 18:35] shmkane opened #5 "Startup with ASkyBlock"
https://cdn.discordapp.com/attachments/269879198154227712/397450389730885632/unknown.png

This error occurring.
Please submit anyway to replicate

[2018-01-12 14:30] RZoneNetwork opened #6 "Sellstick & Askyblock error"
Hi there!

Big complements on the sellstick plugin to begin with! It works all how it should
However I want to use it for my Skyblock gamemode but it keeps giving me error in console:

https://gyazo.com/4521b24f27385950fa73faa01b4b4107
While I have askyblock installed.
https://gyazo.com/af6cc9efb895858f9c80eaa1bc918196

Hope to hear from you! :)

Greetz,

Ronster_
Ronster_#2047 (discord)

[2018-03-17 08:52] BYKalpsiz opened #7 "can be sold in Griefprevention and Lockette plugin"
Griefprevention and lockette plugin protection.

addons pls

[2018-07-14 01:26] ghost opened #8 "Console spam! (1.12.2)"
When I use the want as a player without permission to the area on spawn it shows a huge error in the console, also could You make all of the messages customizeable?

[2018-07-14 01:30] shmkane commented on #8
Please send the huge error in console. Which messages would you like customizable?

[2018-07-14 01:38] ghost commented on #8
Thanks for fast response, I's 3 am for me, I will send you all of the details tomorrow :)

[2018-07-14 02:35] shmkane commented on #8
Sure thing. Be sure to also include what version of factions you're using, and make sure you're using the latest version of the plugin

[2018-07-14 13:38] ghost commented on #8
I'm not using factions plugin, only askyblock, cause it's a skyblock server. Log:
[lom.txt](https://github.com/shmkane/SellStick/files/2194955/lom.txt)
I want to customize the console message and the message when you recieve the stick

[2018-07-14 22:40] shmkane commented on #8
I'll have to look into it after this weekend

[2018-07-17 00:18] shmkane commented on #8
Hello, what version of ASkyBlock are you currently using?

[2018-07-17 14:17] ghost commented on #8
The latest one

[2018-07-17 23:26] shmkane commented on #8
Check out the latest version of sellstick and let me know if it fixes your issue
https://www.spigotmc.org/resources/sell-stick-sell-wand.38119/

[2018-07-18 01:21] ghost commented on #8
Will check asap, also good job with the plugin

śr., 18 lip 2018, 01:26 użytkownik shmkane <notifications@github.com>
napisał:

[2018-07-18 13:54] shmkane commented on #8
Thanks! If you could, please leave a review on the spigot page :)

[2018-07-18 13:54] #8 closed, assigned to nobody

[2018-07-22 03:46] JGuerndt opened #9 "Sellstick usage in faction claims"
Right click on a faction's chest, says this faction does not allow you to use containers. Left click with sell stick, it allows you to sell items from another factions chest. Using Massive Core factions and that is the only one set to true in the config. Only wilderness and within own faction are set to true in other section in config.

[2018-07-23 01:29] #5 closed, assigned to nobody

[2018-07-23 01:29] #6 closed, assigned to nobody

[2018-07-23 01:31] shmkane commented on #9
I'm assuming the issue still exists.

So if I understood properly:

If you're using MCore factions and you try to open a chest which you don't have access to, you can still sell the contents of it?

Are you currently using the latest version of the plugin?

Furthermore, can you send your config.yml here.

[2018-07-23 01:32] shmkane commented on #7
I haven't received enough support to add support to 2 more plugins. I will keep it in mind though.

[2018-07-23 01:32] #7 closed, assigned to nobody

[2018-07-26 03:49] shmkane commented on #9
Assuming this issue has been resolved

[2018-07-26 03:49] #9 closed, assigned to shmkane

[2018-07-30 22:37] JGuerndt commented on #9
Apologies for the delay, below is the config.

#############################
####Sell Stick by shmkane####
#############################
#
# Config Version: 8.0 -- Don't change this value!
#
###################
# Server Settings #
###################
#
#
#Firstly, enable which factions plugin you are using
#Note: Savage Factions is a fork of UUID, so selecting
#Either is fine but DONT select both!

[2018-07-30 22:39] shmkane commented on #9
So the issue is that if you don't have access to a chest in your faction territory you can still sell the contents of it?

[2018-07-31 00:24] Asinphi opened #10 "Suggestion: Price Modifier Option"
Hi, do you think you can add a price multiplier option in the Sell Stick plugin with permission nodes? Something that could make items sell for more or less. Something like sellstick.multiplier.2 that you could give to a player and everything they sell via sell stick would be worth double.

[2018-07-31 04:01] shmkane commented on #10
It's one of my planned features to add but I haven't had time to implement.

[2018-07-31 19:50] JGuerndt commented on #9
Correct. Player from faction A goes to faction B - can not access chests, but can use sell stick to sell contents of faction B's chests.

[2018-08-01 16:44] Asinphi opened #11 "Compatibility With ShopGUI+"
Can you make the Sell Wands plugin compatible with [ShopGUI+](https://www.spigotmc.org/resources/shopgui-admin-gui-shop-plugin.6515/)? They have an API on their page. It would be really useful so server owners don't have to set up both a worth.yml file and their ShopGUI+ shop.

[2018-08-02 01:17] shmkane commented on #11
I have gotten a decent amount of requests for this so I will consider it.

[2018-08-02 01:17] #11 closed, assigned to nobody

[2018-09-11 06:57] Jueo opened #13 "1.13 Update"
I've been reading the spigot page and the GitHub readme and I didn't see any information about 1.13, so my question is are you planning on updating to 1.13?

Best Regards

[2018-10-18 18:55] ghost opened #14 "Dosen't load"
Hey, i have a issue where the plugin does not load for some reason.
`18.10 13:33:57 [Server] INFO [13:33:57 ERROR]: Could not load 'plugins/SellStick.8.0.8.1.jar' in folder 'plugins'
18.10 13:33:57 [Server] INFO org.bukkit.plugin.UnknownDependencyException: PlotSquared
18.10 13:33:57 [Server] INFO at org.bukkit.plugin.SimplePluginManager.loadPlugins(SimplePluginManager.java:222) [PaperSpigot-1.8.8

[2018-10-18 19:33] shmkane commented on #14
Are you running PlotSquared on your server?

[2018-10-19 08:43] ghost commented on #14
no I don't, with is why I found it weird, we're a faction server

[2018-10-19 15:22] shmkane commented on #14
Use a different version
![image](https://user-images.githubusercontent.com/2586027/47227597-3e13be00-d391-11e8-8c4f-69d1dc6f1fbc.png)

[2018-10-19 15:22] #14 closed, assigned to nobody

[2018-11-17 01:06] ThegdogTwitch opened #15 "having a issue"
i gave the user perms to use they still cant.  i v double checked and all looks like i set it up correct but its saying you dont have perms

[2018-11-17 02:22] shmkane commented on #15
Hi, can you message me on discord? I can help there better
Discord: shmkane# 0001

[2018-12-23 23:31] shmkane commented on #10
Added to master branch

[2018-12-23 23:31] #10 closed, assigned to mrghettocraft

[2018-12-26 02:43] shmkane opened #19 "Refactor"
Full refactor needed. Code too ugly to look at (hard to implement new features)

[2019-01-04 20:06] JOVO12 opened #20 "SellStick Not Working For Me"
Please Can You Help Me How To Setup This SellSticks? cause its not working for me i downloaded vault and sell sticks and i did /sellstick [player] 1 1 and its giving but its not working for use im op on my server and i try it too i put in a chest 64 diamonds and on prices i type diamond:1:400 and i put diamond when i left click its not giving money and its not talking the diamonds from the chest.

[2019-01-04 23:39] shmkane commented on #20
The item meta of diamond is not 1, it's 0.
you could just do DIAMOND:400

I added you on discord if you need further help

[2019-01-04 23:39] #20 closed, assigned to nobody

[2019-01-04 23:43] #15 closed, assigned to nobody

[2019-01-04 23:43] shmkane commented on #13
This issue snuck past me. Does it currently work with 1.13 or no?

[2019-01-04 23:44] #19 closed, assigned to shmkane

[2019-01-07 04:26] #13 closed, assigned to nobody

[2019-01-07 05:11] ItzSave opened #21 "PlotSquared Support"
When using PaperSpigot-1.12.2 users can sell items from chests on plots that they are not added to.

[2019-01-07 17:36] shmkane commented on #21
At the time of someone using a sellstick in plots that are not theirs, see if theres any errors. If there exists errors, https://hastebin.com/ send it using this (or similar)

[2019-01-10 17:16] shmkane commented on #21
https://github.com/shmkane/SellStick/releases/tag/v8.1.1.2

[2019-01-10 17:16] #21 closed, assigned to shmkane

[2019-01-11 19:50] partydev opened #22 "Towny Support"
No other sell wand/stick plugins seem to support Towny, could you please add it here?

[2019-01-12 08:50] shmkane commented on #22
I'll definitely consider doing it in the near future.

[2019-01-17 14:40] DeadIntermediate opened #23 "Support for SkyBlockEarth"
Added for support for it, please? We use SkyBlockEarth by Songoda.

[2019-01-17 15:35] #22 closed, assigned to shmkane

[2019-01-18 02:45] Koogle1000 opened #24 "QuickSell Support"
No other sell wand/stick plugins seem to support Quicksell, could you please add it? It would be extremely useful for prison servers because of different sell prices per rank.

[2019-01-18 03:57] shmkane commented on #24
Sellstick has a multiplier function, ins't that enough for it?

[2019-02-11 06:17] #24 closed, assigned to nobody

[2019-02-11 06:18] shmkane commented on #23
At this time I'm not open to adding whole plugin support

[2019-02-11 06:18] #23 closed, assigned to nobody

[2019-02-11 06:31] CallMeBackdraft2 opened #25 "Customisable sell sticks"
It would be awesome if you could add a feature where we would be able to make customisable sell sticks.

The way i mean that is, instead of just setting an overall sell price multiplier make it so we can have multiple with different sell multipliers

[2019-02-20 08:07] Matthew777k opened #26 "SellStick disabling on startup"
Hi,

I'm having an issue with SellStick disabling on startup. This is the error I'm getting even though I'm using SavageFactions 1.4 stable build.
https://hastebin.com/ovopikukih.css

Plugman loading the plugin once it doesn't load correctly fixes the issue for me, so I'm not quite sure what the issue is on startup.

[2019-02-20 08:12] Matthew777k commented on #26
Here's an example of me plugman reload'ing it minutes later and it detecting SavageFac's perfectly fine.
https://hastebin.com/efahiqixav.md

[2019-02-20 16:06] shmkane commented on #26
Thanks for reporting this. Should be fixed soon

[2019-02-20 16:28] shmkane commented on #26
Issue should be resolved now, @Matthew777k

[2019-02-20 16:28] #26 closed, assigned to nobody

[2019-02-20 19:31] shmkane opened #27 "Color Codes broke in UUID/Savage version. Neutral Bugged."

[2019-02-20 20:42] shmkane commented on #27
Fixed https://github.com/shmkane/SellStick/releases/tag/8.1.0.4

[2019-02-20 20:42] #27 closed, assigned to shmkane

[2019-02-22 10:09] Matthew777k opened #28 "Odd formatting issue"
After updating to the recent version of the faction's version, this started to happen when each sellstick was spawned in.
https://i.imgur.com/ByCNwWi.png

This wasn't happening prior to the update, definitely not something major at all considering the wand's still work perfectly fine. It was just something I found odd and figured I'd report.

Config I'm using if you're curious:
https://hastebin.co

[2019-03-01 05:21] ASHER04 opened #29 "Regarding Basic Version"
Hello, I don't use any Factions plugin or Skyblock as listed, which one could I use just too use for a survival server? If any.

[2019-03-01 15:33] shmkane commented on #29
I will consider this. Subscribe to this thread for updates as they come.

[2019-03-01 16:43] ASHER04 commented on #29
Alright thanks. I get email updates from it :)

[2019-03-02 22:32] shmkane commented on #28
Sorry about the delay. Should be fixed with the next release (few minutes now)

[2019-03-07 04:31] #28 closed, assigned to shmkane

[2019-03-09 00:51] Seanule opened #30 "Sell Stick Lapis"
The plugin as is, is amazing. However we are experiencing issues regarding Lapis Lazuli and the sell stick.
No matter how we format the lapis (numeric id, name id, etc) it won't register.
Thanks

[2019-03-09 05:20] shmkane commented on #30
Message me on discord, ill help you get it sorted! shmkane#0001

[2019-03-09 21:24] #30 closed, assigned to nobody

[2019-03-26 18:41] Con3ction opened #31 "Or we can download the plugin"
Download link doesn't work

[2019-03-26 18:42] Con3ction commented on #31
@shmkane

[2019-03-26 18:52] shmkane commented on #31
All the download links work, just tested. Send me what isn't working for you.

[2019-03-26 18:53] shmkane commented on #31
https://gyazo.com/ed84236c647ce258e4fdb47321040678

[2019-03-26 18:56] Con3ction commented on #31
Ah, I did not understand her ... as much for me. But ducoup he esxiste not for simple survival? or you absolutely must have Askyblock or faction ...

[2019-03-26 19:13] shmkane commented on #31
Currently you must have ASkyBlock or factions

[2019-03-26 19:14] Con3ction commented on #31
thin this damage but not serious thank you: D

[2019-04-04 04:14] karloz17 opened #32 "GriefPrevention support"
Can you add GriefPrevention support thanks

[2019-04-16 00:14] OGreenC opened #33 "BSkyblock compatibility"
Hi,

Could you please add support for the BSkyblock plugin?

They have a pretty extensive API (Bentobox).
A link to their Git: https://github.com/BentoBoxWorld/BentoBox

Looking forward to hear from you!

[2019-04-16 00:25] shmkane commented on #33
I'm currently not going to be adding support for new plugins. As you said, they have an extensive API and my plugin is open source. You are more than welcome to add it!

[2019-04-26 00:58] macosxuser opened #34 "Plugin does not work with BeerSpigot JAR"
An internal error occured while attempting to perform this command when I do /sellstick
INFO org.bukkit.command.CommandException: Unhandled exception executing command 'sellstick' in plugin SellStick v8.1.0.5U
25.04 20:57:43 [Server] INFO at org.bukkit.command.PluginCommand.execute(PluginCommand.java:47) ~[BeerSpigot.jar:git-TacoSpigot-bf023c7d]
25.04 20:57:43 [Server] INFO at org.bukkit.command.S

[2019-04-29 19:42] shmkane commented on #34
The plugin does not claim to work with BeerSpigot

[2019-05-20 07:42] rickysambora55 opened #35 "[New Features] Support other shops plugin"
Hi,
I think this plugin will be better if you can use the price of another plugin shop for example "ShopGUI +" beside essentials worth. So we (especially me) don't need manually input again to prices.yml

[2019-07-07 12:37] Ecstasy666 opened #36 "Why do I have this error?"
https://pastebin.com/MjhuBKjy

[2019-08-19 16:05] valkyriecraftmc opened #37 "Plugin issues after editing lore"
Hello! The plugin works great out of the box, so to speak. But after I edit the lore, it stops working completely. Doesn't even give me any feedback when I type /sellstick

Any solutions? Running this on spigot 1.8.8 With FactionsUUID.

[2019-08-19 16:31] shmkane commented on #37
Hello,

When you start the server up, check for errors.

On Mon, Aug 19, 2019, 12:05 PM valkyriecraftmc <notifications@github.com>
wrote:

[2019-08-19 16:36] valkyriecraftmc commented on #37
19.08 16:34:36 [Server] INFO Enabling SellStick v8.1.0.5U
19.08 16:34:36 [Server] ERROR Cannot load plugins/SellStick/config.yml
19.08 16:34:36 [Server] INFO org.bukkit.configuration.InvalidConfigurationException: while parsing a block mapping
19.08 16:34:36 [Server] INFO in 'string', line 31, column 1:
19.08 16:34:36 [Server] INFO AllowedInFactionClaim: true
19.08 16:34:36 [Server] INFO ^
19.08 1

[2019-08-19 16:44] shmkane commented on #37
Hello,

Could you try resetting the config, then editing the values one at a time to see which one is causing the issues for you? I tried on my end and it seems to be working fine.

[2019-08-19 16:55] valkyriecraftmc commented on #37
Hmmm.... Interesting. When I edited everything one by one and reloaded each time, it worked everytime. I apologize for wasting your time. Thank you!

[2019-08-19 16:56] shmkane commented on #37
Not a waste of time at all. Maybe there was some weird character you
accidentally inputted. Glad it worked out in the end though.

On Mon, Aug 19, 2019, 12:55 PM valkyriecraftmc <notifications@github.com>
wrote:

[2019-08-19 17:08] valkyriecraftmc commented on #37
Now if I could just get it to sell! haha. I'll let my dev work that one out. Thanks man!

[2019-08-19 17:09] shmkane commented on #37
What issue are you having with selling?

[2019-08-19 17:12] valkyriecraftmc commented on #37
Click on a chest, and nothing happens

[2019-08-19 17:12] shmkane commented on #37
Any errors?

[2019-08-19 17:20] valkyriecraftmc commented on #37
Now I'm just really puzzled. Restarted the server at I get:

19.08 17:19:15 [Server] INFO Disabling SellStick v8.1.0.5U

Everything else booted appropriately

[2019-08-19 17:24] shmkane commented on #37
Could you send a full log of the start up (Or atleast 5-10 lines above that and 5-10 lines below)

[2019-08-19 17:33] valkyriecraftmc commented on #37
So, I reloaded with a fresh config file, and now it works? I'm probably going to have to go through one by one again and see which one breaks it

[2019-08-19 17:36] shmkane commented on #37
Seems like you're not having the best time. If you want, add me on discord and I can provide faster support : shmkane # 0001

[2019-08-19 17:38] valkyriecraftmc commented on #37
apparently I can't even do that right either -_-' lol it wont find your name, can you try mine? project_56@5773

[2019-08-19 17:43] shmkane commented on #37
Sent

[2019-09-08 15:18] FireHawk828 opened #38 "Cant use ShopGUIPlus"
I'm having trouble getting the plugin to use shopguiplus prices, do I need to enter a piece of code like (use-ShopGUIPlus-shops.yml: true) or something else. btw I tried that already and it didn't work.

[2019-09-19 07:02] Ensect opened #39 "is there a way to add a glow to the stick?"
it's fine if there isn't but i would love to give the stick a glow to differentiate it from normal sitcks :)

[2019-10-03 17:07] GemcraftServer opened #40 "Selling Issues"
The plugin is not registering some items that are in the prices.yml file. It is incorrectly saying that these items are not worth selling. These are the items that are not working:

  GUNPOWDER:
  COOKED_PORKCHOP
  LAPIS_LAZULI
  PUMPKIN
  MELON
  CARROT
  POTATO
  WHEAT
  SUGAR_CANE

[2019-11-09 23:41] srleojaco opened #41 "Usage in truce claims // owned chunks // recode"
Hey there!

I've been using the plugin, but i'm lacking an option for truce claims (because at the moment players are able to use the stick on those claims cause there's no option).

Also, owned chunks (in SavageFactions) allow the player to use the sellstick when they've no perms in that chunks.

So i'd suggest a recode for plugin: **checking player's perms for the territory** so **if the player

[2019-12-02 01:07] HunterJacobs opened #42 "Plugin Not Updated on Spigot"
Had same bugs as posted before. Can you please update on spigot?

[2019-12-02 01:08] HunterJacobs commented on #40
Also encountering this issue, would love it if you could fix!

[2019-12-16 20:05] shmkane commented on #42
Could you define what the same bugs are?
A new version will be posted today

[2019-12-16 20:16] #31 closed, assigned to nobody

[2019-12-16 20:16] #25 closed, assigned to nobody

[2019-12-16 20:16] #29 closed, assigned to shmkane

[2019-12-16 20:17] #37 closed, assigned to nobody

[2019-12-16 20:17] shmkane commented on #32
Should be supported as of a couple updates ago.

[2019-12-16 20:17] #32 closed, assigned to nobody

[2019-12-16 20:18] #33 closed, assigned to nobody

[2019-12-16 20:18] #34 closed, assigned to nobody

[2019-12-16 20:19] shmkane commented on #36
I realized I never got around to asking if this was resolved. Please re open if issue persists.

[2019-12-16 20:19] #36 closed, assigned to nobody

[2019-12-16 20:19] shmkane commented on #39
SellSticks current have glow. Its an option in the config

[2019-12-16 20:19] #39 closed, assigned to nobody

[2019-12-16 20:20] shmkane commented on #40
A fix for these will be up today

[2019-12-16 20:20] #40 closed, assigned to nobody

[2019-12-16 20:20] #42 closed, assigned to nobody

[2019-12-16 20:22] shmkane commented on #41
Hi, sorry for the delay in response. The way sellstick is currently configured to work is to check if another plugin is blocking interactions to a chest. If that's the case, sellstick will NOT sell. What this usually means is that if you can open a chest, you can sell contents of a chest.

I can't, unfortunately, go through and add exceptions and causes for each plugin.

If you feel that your issu

[2019-12-17 07:45] #41 closed, assigned to nobody

[2019-12-17 07:45] shmkane commented on #38
see the latest version

[2019-12-17 07:45] #38 closed, assigned to nobody

[2019-12-17 07:46] shmkane commented on #35
Added, check the latest version

[2019-12-17 07:46] #35 closed, assigned to nobody

[2019-12-27 22:09] realsillysushi opened #43 "Hello, this happened when i right click the chest, nothing happened when i left click."
Server 1.12.2 using the latest version.
`

org.bukkit.event.EventException: null
at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:306) ~[Skyblock.jar:git-Spigot-2cf50f0-2b93d83]
at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[Skyblock.jar:git-Spigot-2cf50f0-2b93d83]
at org.bukkit.plugin.SimplePluginManager.fireEvent(SimplePluginManager.java

[2020-01-25 22:33] shmkane commented on #43
Does this issue still exist

[2020-01-28 05:41] shmkane commented on #43
Seems like you have essentials worth enabled when you dont mean for it to be,

[2020-01-28 05:41] #43 closed, assigned to shmkane

[2020-02-06 00:50] LavivaNW opened #44 "1.8 Support and Griefprevention Support"
Please add paperspigot 1.8.8 version support.
Support for almost many servers using version 1.8 should definitely come.

If you add GriefPrevention support for survival servers, I will use the plugin on my server.
GriefPreventionData= Claim plugin

Bug:
We can sell items in chests at someone else's claim.

[2020-02-06 14:51] ajgeiss0702 commented on #44
If possible, maybe check if the player has access to open the chest before selling? that would add support for all claim plugins

[2020-02-07 06:09] shmkane commented on #44
While I can't guarantee support for GriefPrevention, I'd like to hear more about the bug you're having where you can sell in chests at someone else's claim.

What version of SellStick are you using and what protection plugin are you using it with

[2020-02-10 05:16] shmkane commented on #44
@LavivaNW

[2020-02-11 19:26] cra1gg opened #45 "j"
**Is your feature request related to a problem? Please describe.**
YEA BOI
**Describe the solution you'd like**
MORE STICKS
**Describe alternatives you've considered**
FACTIONS
**Additional context**
guacamole

[2020-02-11 19:26] shmkane commented on #45
solved

[2020-02-11 19:27] cra1gg commented on #45
Hi,
I just updated my problem. Please consider it.

yours truly,
megaman900

[2020-02-11 19:28] cra1gg commented on #44
Please do not add PaperSpigot 1.8.8 support, it is not needed.

[2020-02-12 04:36] shmkane commented on #45
consider it considerably considered

[2020-02-13 14:20] LavivaNW commented on #44
You should add support for paperspigot 1.8.8, which is one of the most preferred versions.

[2020-02-19 04:23] shmkane commented on #44
There's a version, but it doesn't have ShopGuiPlus support.

[2020-02-19 04:23] #45 closed, assigned to shmkane

[2020-02-21 05:22] cra1gg commented on #44
Can you add it then?

[2020-02-21 05:25] cra1gg opened #46 "Integration with Multiverse 2"
It'd be amazing if you could add support for Multiverse 2, this is a very widely used plugin by many servers including Hypixel and Mineplex. This would allow my chests to be accessible from different worlds than that in which they were created. I already have created some pseudocode for a possible implementation and could provide it to you if you accept my pull request.

[2020-02-21 05:25] shmkane commented on #46
Let's see the pseudo code

[2020-02-21 05:27] cra1gg commented on #44
I would like to take this opportunity to report that @shmkane tried to censor my opinion by typing the following to me on a popular messenging app Discord:
![](https://i.imgur.com/tjUEn8R.png)
I refuse to be censored or subpoenaed. I will not stand for this. Consider yourself warned.

[2020-02-21 05:28] #44 closed, assigned to shmkane

[2020-02-21 05:28] cra1gg commented on #44
open sesame

[2020-02-21 05:29] cra1gg opened #47 "1.8 Support and Griefprevention Support"
Please add paperspigot 1.8.8 version support.
Support for almost many servers using version 1.8 should definitely come.

If you add GriefPrevention support for survival servers, I will use the plugin on my server.
GriefPreventionData= Claim plugin

Bug:
We can sell items in chests at someone else's claim.

[2020-02-21 21:20] ajgeiss0702 commented on #47
I agree. Please add this.

[2020-02-22 00:17] shmkane commented on #47
Make a pull request and I'll add it

[2020-02-22 00:17] #47 closed, assigned to shmkane

[2020-02-23 19:16] cra1gg commented on #46
[code]

[2020-02-27 14:06] uploadx10 opened #48 "support 1.8+"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-28 23:18] shmkane commented on #48
**No**
Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Describe the solution you'd like
A clear and concise description of what you want to happen.

Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

Additiona

[2020-02-28 23:18] #48 closed, assigned to shmkane

[2020-02-28 23:18] shmkane commented on #46
Thanks

[2020-02-28 23:18] #46 closed, assigned to shmkane

[2020-04-07 19:17] Uniquiex opened #49 "Please make 1.8.8 supported SellStick plugin"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-12 11:34] JustStanix commented on #43
This is still an issue for me.

[2020-04-12 16:19] shmkane commented on #43
Did you disable essentials in the SellSticks config?

[2020-04-21 13:37] malekashkar opened #50 "1.8.9 Support?"
If you could add a version for 1.8.9 that would be awesome!

[2020-04-22 11:23] Woeben opened #51 "Plotsquared protection issue"
**Describe the bug**
Only when SHIFT clicking a chest you can sell items on not owned plots
**To Reproduce**
Steps to reproduce the behavior:
1. Install plotsquared
2. shift right click on a chest in a not owned plot

**Expected behavior**
You will sell items from others. HUGE problem

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Server Info(please complete the f

[2020-04-22 19:34] shmkane commented on #51
Thanks for reporting this. I'll take a look today

[2020-04-22 19:34] shmkane commented on #50
I'll see if I can get one today

[2020-04-22 19:34] shmkane commented on #49
I'll see if I can have that ready today

[2020-04-22 21:54] shmkane commented on #50
https://shmkane.github.io/
Added!

[2020-04-22 21:54] #50 closed, assigned to shmkane

[2020-04-22 21:54] shmkane commented on #49
Added @immakita
https://shmkane.github.io/

[2020-04-22 21:54] #49 closed, assigned to shmkane

[2020-04-23 14:49] #51 closed, assigned to shmkane

[2020-06-01 15:31] gh-doot opened #57 "[BUG] when i do /sellwand it says /sellwand"
**Describe the bug**
it says /sellwand when i do /sellwand

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'github downloads'
2. Click on 'java app then cut then grab it to ur plugins'
3. Type: "/sellwand"
4. See error

**Expected behavior**
Was mean't it to give me sellwand.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Server Info(please complete th

[2020-06-01 15:34] gh-doot commented on #57
tbh do i change the java to 32 bit (because i have skript and if i change it to that then skript will malfunction, Check my issue in skriptlang repos if you need more details. https://github.com/SkriptLang/Skript/issues/3011 also people in this issue im going to close this until i get a reply alright?)

[2020-06-01 18:06] shmkane commented on #57
Type /sellstick

[2020-06-01 18:07] shmkane commented on #57
Just to be sure there's no confusion: SellStick is NOT a skript, it is s Java plugin. It needs to be placed in the /plugins/ folder. If you're having troubles still, send me your startup log.

[2020-06-02 13:16] gh-doot commented on #57
it says type /help unknown command when using /sellstick, plus its on the plugins folder excatly.

[2020-06-02 14:39] shmkane commented on #57
Send me your startup log

[2020-06-03 12:25] gh-doot commented on #57
Sure wait please.

[2020-06-03 12:25] gh-doot commented on #57
[16:11:29] [Server thread/INFO]: Starting minecraft server version 1.15.2
[16:11:29] [Server thread/INFO]: Loading properties
[16:11:30] [Server thread/INFO]: This server is running CraftBukkit version git-Spigot-2f5d615-aae46f8 (MC: 1.15.2) (Implementing API version 1.15.2-R0.1-SNAPSHOT)
[16:11:31] [Server thread/INFO]: Debug logging is disabled
[16:11:31] [Server thread/INFO]: Server Ping Player

[2020-06-03 12:27] gh-doot commented on #57
Anyways, closing this again unless reply comes.

[2020-06-03 16:29] shmkane commented on #57
1. Stop closing the issue if you’re still having a problem

2. None of your plugins (including sellstick) are being loaded by spigot. Are you sure you are putting the plugin jars into your plugins folder? Because Spigot isn’t detecting them.

3. To prove point 2, go in-game and type /plugins and send a screenshot

[2020-06-07 05:36] PuteKissUfDed commented on #57
Hmm I understand this shmkane (also im @ThisIsACoolBoy 's server moderator)Im sorry about this but our /pl and /plugins are blocked, this is same to the /bukkit:pl and so on. Because we made a skript we tried deleting it, nothing helped.

[2020-06-07 05:39] gh-doot commented on #57
Excuse me, I’m busy so please don’t ping me until something is important

[2020-06-07 13:08] PuteKissUfDed commented on #1
so wat

[2020-06-07 14:04] NotMyFault opened #58 "BentoBox (BSkyBlock) support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
No

**Describe the solution you'd like**
I'd like to see support for BentoBox (BSkyBlock). I think that'd enhance the plugin a lot.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2020-06-08 01:33] shmkane commented on #58
What's the issue when you try to use it with BSkyBlock right now

[2020-06-08 01:39] cra1gg commented on #57
@ThisIsACoolBoy are you still having this issue? I am also facing a similar issue on spigot 1.3.1

[2020-06-08 14:41] PuteKissUfDed commented on #57
What issue, also he is busy.

[2020-06-08 14:47] cra1gg commented on #57
same issue as @ThisIsACoolBoy

[2020-06-09 08:40] gh-doot commented on #57
oh rly ok

[2020-06-09 12:04] shmkane commented on #58
Not sure if you’re the one who asked on discord, but this issue is resolved. Here’s the discovery:

So i found it out, it doesnt work with players with OP/Pex * not sure if that was written somewhere  and  I missed it, but either way not too important I personally am not able to use them. But would be a nice feature

[2020-06-09 12:04] #58 closed, assigned to shmkane

[2020-06-13 18:47] cra1gg commented on #57
@ThisIsACoolBoy did you manage to fix it?

[2020-07-08 15:07] cra1gg commented on #57
@ThisIsACoolBoy hey im just wondering if you were able to trace the decryption algo for the oc3 optical line?

[2020-07-09 05:30] gh-doot commented on #57
sorry i was late to respond, was a little busy, plus I dont understand much about plugins and etc. So, What do you mean by.
![image](https://user-images.githubusercontent.com/48828036/87000760-dcc7fa00-c1c6-11ea-8f60-52a05ab8f37b.png)

[2020-07-21 05:27] gh-doot commented on #57
when is there an answer v.v

...

[2020-07-21 13:19] cra1gg commented on #57
@ThisIsACoolBoy guacamole

[2020-07-22 09:21] gh-doot commented on #57
whats that? -u-

[2020-07-22 09:25] gh-doot commented on #57
this thing surely is pretty lengthy than any other.. (21 comnts)

[2020-07-22 13:01] cra1gg commented on #57
@ThisIsACoolBoy yea it is

[2020-07-29 18:02] garsh1 opened #60 "Hook with the iridium skyblock plugin"
I can't use the plugin because I don't have any of the plugins that allow me to be in "Valid territory". I run a Skyblock server that uses Iridium Skyblock. Would it be possible to hook with the iridium Skyblock plugin?

[2020-07-29 18:07] shmkane commented on #60
By default, how sellstick works is that it checks to see if any other plugin has denied access to opening a chest.

Put another way: if a player is able to open (rightclick) a chest, they are able to sell from it.

What this means is that it SHOULD work with your skyblock plugin.

**Some people have mentioned that there's a bug where Admins/Mods get a message stating "They cant sell from this ches

[2020-07-29 18:12] shmkane commented on #57
@ThisIsACoolBoy

Like I said above, your startup doesn't even show sellstick loading. I can't help you if you don't have the plugin enabled

[2020-08-08 14:58] gh-doot commented on #57
oh, i have it in but it won't load, im on phone rn.

[2020-08-10 05:50] gh-doot commented on #57
well this issue is useless now because i dont go minecraft anymore..

[2020-08-10 05:50] #57 closed, assigned to shmkane

[2020-08-10 14:18] cra1gg commented on #57
excuse me? please do not close the issue when I have am same issue. I still go on minecraft

[2020-08-20 10:23] gh-doot commented on #2
I think its fixed, he doesn't respond in fact

[2020-08-20 20:22] DEADLYDEVIL-IR commented on #60
yea admins in iridiumskyblock are having problem to use sell stick

[2020-10-06 19:00] shmkane commented on #60
Hi, sorry for the delay, if you're still having troubles, I suggest contacting me on Discord

[2020-10-06 19:00] #60 closed, assigned to shmkane

[2020-10-07 11:18] LudnicaKiller opened #61 "Sellstick 1.8.8 giveall"
Please check all the boxes in order for this to be considered.

[ ] I acknowledge SellStick is an open source plugin, meaning I have access to the source code and I could make this feature myself.
[x] I agree that this feature is not too large or unfeasbile.
[ ] I agree that I totally haven't read any of these I'm just checking the boxes.
[x] I acknowledge that I've looked around for another plugi

[2020-11-28 23:11] shmkane commented on #61
Firstly, 2 of your checks are missing, which is why I didn't look at this. Secondly, I don't have any intent on adding this feature for 1.8.8. It exists for 1.15+ if you need https://github.com/shmkane/SellStick/releases/tag/beta1.15

[2020-11-28 23:11] #61 closed, assigned to shmkane

[2020-12-16 17:29] shmkane opened #62 "Support for Barrels"
**Please describe your feature request in a couple sentences**
Support for barrels MC 1.14 and/or higher.

**Please describe your feature request in a couple of user stories**
As a user I want to be able to sell my items inside Barrels.
Barrels were introduced in MC 1.14, so versions starting from there should have this update.

[2021-01-10 20:34] DanielBratee opened #64 "Damaged Items."
Is there some  way to sell damaged items?
Like damaged bow?

[2021-01-13 05:37] Katoteshiku opened #65 "Something went wrong enabling Essentials."
Please read and check carefully!

[] I have tried my best to resolve or collect as much information I can about this bug.
[x] I agree that I will fill our this bug report completely and accurately.
[x] I agree that if I be lazy on this bug report, it will be ignored, closed, and or laughed at.
[x] I know SellStick is an open source plugin with a busy developer, and that I have permission to make t

[2021-01-25 01:37] Katoteshiku commented on #64
I think there is a way to sell damaged items. It falls under block data I think.
#This is how you can do blocks with extra data
  STONE:2: 0.22
  STONE:3: 0.02

So a bow with minus one durability would be
Bow:1: price

I think if you want it to apply to all data/durability, you would need to use
Bow:*: price

But I'm not completely sure. I just use the essentials worth and that's kind of how it's

[2021-01-26 03:18] #65 closed, assigned to shmkane

[2021-04-01 18:54] Tom25W opened #66 "Item Model Support, Sell wand multipier attatched to wand itself"
Please check all the boxes in order for this to be considered.

[x] I acknowledge SellStick is an open source plugin, meaning I have access to the source code and I could make this feature myself.
[x] I agree that this feature is not too large or unfeasbile.
[x] I agree that I totally haven't read any of these I'm just checking the boxes.
[x] I acknowledge that I've looked around for another plugi

[2021-07-27 21:35] justisr opened #67 "Add BrokerAPI Support"
[√] I acknowledge SellStick is an open source plugin, meaning I have access to the source code and I could make this feature myself.
[√] I agree that this feature is not too large or unfeasbile.
[X] I agree that I totally haven't read any of these I'm just checking the boxes.
[√] I acknowledge that I've looked around for another plugin to do this task but one isn't available.
[√] I agree that shmk

[2021-09-19 21:23] SkeletonAce commented on #64
I tried this: `golden_sword:*: 4.0` and it didn't work with the sell stick.
Does anyone happen to know how many extra block data I would need to sell all gold swords at all durability levels?
eg.
`golden_sword:1: 4.0`
`golden_sword:2: 4.0`
etc

[2022-02-13 19:21] LeitoCc187 opened #68 "[BUG] 1.18 perms not working"
Please read and check carefully!

[x] I have tried my best to resolve or collect as much information I can about this bug.
[x] I agree that I will fill our this bug report completely and accurately.
[x] I agree that if I be lazy on this bug report, it will be ignored, closed, and or laughed at.
[x] I know SellStick is an open source plugin with a busy developer, and that I have permission to make